[submodule ".nano"]
	path = .nano
	url = gh:scopatz/nanorc
[submodule ".config/sublime-text-3/Packages/nexus-theme"]
	path = .config/sublime-text-3/Packages/nexus-theme
	url = git@github.com:EleazarCrusader/nexus-theme.git
